.header-bar-container {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: rgb(57, 60, 61);
}

.header-bar {
  max-width: 1240px;
  margin: auto;
}

.header-bar-container .name {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: inline;
}

.header-bar-container .button {
  display: inline;
  float: right;
}